/**
 * @file
 */

.ajaxinclude-loader,
.js .ajaxinclude--loaded .ajaxinclude-loader {
  display: none;
}

.js .ajaxinclude-loader {
  display: block;
}

.ajaxinclude .is-hidden {
  display: none;
}

.ajaxinclude__content {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.6s ease-in .2s;
  transition: all 0.6s ease-in .2s;
}

.ajaxinclude--loaded .ajaxinclude__content {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

[data-ajaxinclude] {
  min-height: 42px;
}
