/**
 * @file
 *
 * When CSS aggregation is on at admin/config/development/performance, all
 * of these @import files will be combined into a single file.
 */
 
@import "spinkit/ajaxinclude.chasing-dots.css";
@import "spinkit/ajaxinclude.circle.css";
@import "spinkit/ajaxinclude.cube-grid.css";
@import "spinkit/ajaxinclude.double-bounce.css";
@import "spinkit/ajaxinclude.fading-circle.css";
@import "spinkit/ajaxinclude.pulse.css";
@import "spinkit/ajaxinclude.rotating-plane.css";
@import "spinkit/ajaxinclude.three-bounce.css";
@import "spinkit/ajaxinclude.wandering-cubes.css";
@import "spinkit/ajaxinclude.wave.css";
@import "spinkit/ajaxinclude.wordpress.css";

.form-wrapper--ajaxinclude,
.form-wrapper--ajaxinclude * {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#edit-ajaxinclude-preloader .form-type-radio  {
  display: inline-block;
  margin-right: -4px;
  min-height: 100px;
  min-width: 20%;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-align: center;
  vertical-align: top;
}

#edit-ajaxinclude-preloader .form-type-radio  label.option {
  display: block;
}

#edit-ajaxinclude-preloader .form-type-radio .field-prefix {
  display: block;
  min-height: 80px;
}

.ajaxinclude-loader {
  display: block;
}
