/**
 * @file
 *
 *  Usage:
 *
 *    <div class="ajaxinclude-loader ajaxinclude-loader--rotating-plane"></div>
 */

.ajaxinclude-loader--rotating-plane.ajaxinclude-loader {
  width: 30px;
  height: 30px;
  background-color: #333;
  margin: 0 auto;
  -webkit-animation: aiRotatePlane 1.2s infinite ease-in-out;
  animation: aiRotatePlane 1.2s infinite ease-in-out;
}

@-webkit-keyframes aiRotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@keyframes aiRotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

