/**
 * @file
 *
 *  Usage:
 *
 *    <div class="ajaxinclude-loader ajaxinclude-loader--fading-circle">
 *      <div class="ai1 ai"></div>
 *      <div class="ai2 ai"></div>
 *      <div class="ai3 ai"></div>
 *      <div class="ai4 ai"></div>
 *      <div class="ai5 ai"></div>
 *      <div class="ai6 ai"></div>
 *      <div class="ai7 ai"></div>
 *      <div class="ai8 ai"></div>
 *      <div class="ai9 ai"></div>
 *      <div class="ai10 ai"></div>
 *      <div class="ai11 ai"></div>
 *      <div class="ai12 ai"></div>
 *    </div>
 */

.ajaxinclude-loader--fading-circle.ajaxinclude-loader {
  margin: 0 auto;
  width: 22px;
  height: 22px;
  position: relative;
}

.ajaxinclude-loader--fading-circle .ai {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.ajaxinclude-loader--fading-circle .ai:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 18%;
  height: 18%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: aiFadeCircle 1.2s infinite ease-in-out;
  animation: aiFadeCircle 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ajaxinclude-loader--fading-circle .ai2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.ajaxinclude-loader--fading-circle .ai3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.ajaxinclude-loader--fading-circle .ai4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.ajaxinclude-loader--fading-circle .ai5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.ajaxinclude-loader--fading-circle .ai6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.ajaxinclude-loader--fading-circle .ai7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ajaxinclude-loader--fading-circle .ai8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.ajaxinclude-loader--fading-circle .ai9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.ajaxinclude-loader--fading-circle .ai10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.ajaxinclude-loader--fading-circle .ai11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.ajaxinclude-loader--fading-circle .ai12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.ajaxinclude-loader--fading-circle .ai2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.ajaxinclude-loader--fading-circle .ai3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.ajaxinclude-loader--fading-circle .ai4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.ajaxinclude-loader--fading-circle .ai5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.ajaxinclude-loader--fading-circle .ai6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.ajaxinclude-loader--fading-circle .ai7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.ajaxinclude-loader--fading-circle .ai8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.ajaxinclude-loader--fading-circle .ai9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.ajaxinclude-loader--fading-circle .ai10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.ajaxinclude-loader--fading-circle .ai11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.ajaxinclude-loader--fading-circle .ai12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes aiFadeCircle {
  0%, 39%, 100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

@keyframes aiFadeCircle {
  0%, 39%, 100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}
