/**
 * @file
 *
 *  Usage:
 *
 *    <div class="ajaxinclude-loader ajaxinclude-loader--pulse"></div>
 */

.ajaxinclude-loader--pulse.ajaxinclude-loader {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: aiPulseScaleOut 1s infinite ease-in-out;
  animation: aiPulseScaleOut 1s infinite ease-in-out;
}

@-webkit-keyframes aiPulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes aiPulseScaleOut {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

