/**
 * @file
 *
 *  Usage:
 *
 *    <div class="ajaxinclude-loader ajaxinclude-loader--double-bounce">
 *      <div class="ai1"></div>
 *      <div class="ai2"></div>
 *    </div>
 */

.ajaxinclude-loader--double-bounce.ajaxinclude-loader {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto;
}

.ajaxinclude-loader--double-bounce .ai1, .ajaxinclude-loader--double-bounce .ai2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: aiDoubleBounce 2s infinite ease-in-out;
  animation: aiDoubleBounce 2s infinite ease-in-out;
}

.ajaxinclude-loader--double-bounce .ai2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes aiDoubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes aiDoubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
