/**
 * @file
 *
 *  Usage:
 *
 *    <div class="ajaxinclude-loader ajaxinclude-loader--wave">
 *      <div class="ai1"></div>
 *      <div class="ai2"></div>
 *      <div class="ai3"></div>
 *      <div class="ai4"></div>
 *      <div class="ai5"></div>
 *    </div>
 */

.ajaxinclude-loader--wave.ajaxinclude-loader {
  margin: 0 auto;
  width: 60px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.ajaxinclude-loader--wave span {
  background-color: #333;
  height: 100%;
  margin: 0 1px;
  width: 6px;
  display: inline-block;
  -webkit-animation: aiWaveStretchDelay 1.2s infinite ease-in-out;
  animation: aiWaveStretchDelay 1.2s infinite ease-in-out;
}

.ajaxinclude-loader--wave .ai2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.ajaxinclude-loader--wave .ai3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.ajaxinclude-loader--wave .ai4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.ajaxinclude-loader--wave .ai5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes aiWaveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }


  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes aiWaveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }


  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
