/**
 * @file
 *
 *  Usage:
 *
 *    <div class="ajaxinclude-loader ajaxinclude-loader--three-bounce">
 *      <span class="ai1"></span>
 *      <span class="ai2"></span>
 *      <span class="ai3"></span>
 *    </div>
 */

.ajaxinclude-loader--three-bounce.ajaxinclude-loader {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}

.ajaxinclude-loader--three-bounce span {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: aiThreeBounceDelay 1.4s infinite ease-in-out;
  animation: aiThreeBounceDelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ajaxinclude-loader--three-bounce .ai1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.ajaxinclude-loader--three-bounce .ai2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes aiThreeBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes aiThreeBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
