/**
 * @file
 *
 *  Usage:
 *
 *    <div class="ajaxinclude-loader ajaxinclude-loader--cube-grid">
 *      <div class="ai"></div>
 *      <div class="ai"></div>
 *      <div class="ai"></div>
 *      <div class="ai"></div>
 *      <div class="ai"></div>
 *      <div class="ai"></div>
 *      <div class="ai"></div>
 *      <div class="ai"></div>
 *      <div class="ai"></div>
 *    </div>
 *
 * Spinner positions
 * 1 2 3
 * 4 5 6
 * 7 8 9
 */

.ajaxinclude-loader--cube-grid.ajaxinclude-loader {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.ajaxinclude-loader--cube-grid .ai {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: aiGridScaleDelay 1.3s infinite ease-in-out;
  animation: aiGridScaleDelay 1.3s infinite ease-in-out;
}

.ajaxinclude-loader--cube-grid .ai:nth-child(1) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.ajaxinclude-loader--cube-grid .ai:nth-child(2) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.ajaxinclude-loader--cube-grid .ai:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.ajaxinclude-loader--cube-grid .ai:nth-child(4) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.ajaxinclude-loader--cube-grid .ai:nth-child(5) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.ajaxinclude-loader--cube-grid .ai:nth-child(6) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.ajaxinclude-loader--cube-grid .ai:nth-child(7) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.ajaxinclude-loader--cube-grid .ai:nth-child(8) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.ajaxinclude-loader--cube-grid .ai:nth-child(9) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes aiGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes aiGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
